<app-menu> Ma boutique en ligne </app-menu>

<!-- <app-users-list></app-users-list>

<section class="flex flex-wrap">
  <div *ngFor="let produit of products">
		<app-fiche-produit
      [id]="produit.id"
      [stock]="produit.stock"
      [titre]="produit.title"
      [description]="produit.description"
      [categorie]="produit.category"
      [image]="produit.image"
      [prix]="produit.price"
    ></app-fiche-produit>
	</div>
</section> -->

<main>
  <router-outlet></router-outlet>
</main>

<footer>Créé par {{ prenom }}</footer>